@import "tailwindcss";

textarea{
  resize: none;
}

.backface-hidden {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-button-prev, .swiper-button-next{
  position: absolute !important;
  top: 110% !important;
  transform: translateY(-50%);
  width: 50px !important;
  height: 50px !important;
  padding: 50px;
  scale: .3;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: black !important;
}
.swiper-button-prev:hover, .swiper-button-next:hover{
  background-color: rgba(0, 0, 0, 0.2) !important;
}
